<div style="display: flex; flex-direction: column; gap: 0px; justify-content: normal; align-items: normal;">
  <div class="_10fnrtf0"><span class="tw4l-1r5dc8g0"
                               style="--tds-wts-font-weight: var(--tw-font-weight-semibold); --tds-wts-foreground-color: var(--wts-adaptive-grey700); --tds-wts-line-height: 1.45; --tds-wts-font-size: 14px;">위험도</span><span
    class="score tw4l-1r5dc8g0 _1p5yqoh0"
    style="--tds-wts-font-weight: var(--tw-font-weight-semibold); --tds-wts-foreground-color: var(--wts-adaptive-grey600); --tds-wts-line-height: 1.45; --tds-wts-font-size: 14px;"></span>
  </div>
</div>